RewriteEngine On
RewriteCond %{THE_REQUEST} /public/([^\s?]*) [NC]
RewriteRule ^ %1 [L,NE,R=302]
RewriteRule ^((?!public/).*)$ public/$1 [L,NC]

# control de memoria para los forms
php_value max_input_vars 9999
php_value post_max_size 1000M
php_value upload_max_filesize 100M