{% extends "main.twig" %}
{% block title %}
404 |
No encontramos lo que buscas :C
{% endblock %}
{# bloque de estilos #}
{% block styles %}
<style>
    .vista{
        width: 100%;
        height: 90vh;
        margin-top: var(--altura_navbar);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container_404{
        color: var(--text_glass_color_dark);
        text-align: center;
    }
    h1{
      font-size: 10em;
    }
    p{
      font-size: 2em;
    }

</style>
{% endblock styles %}

{# bloque del contenido de cada vista #}
{% block contenido %}
<div class="vista">
  <div class="container_404">
    <h1>404</h1>
    <p>No se encontro lo que buscas :C</p>
  </div>
</div>
{% endblock contenido %}

{# scripts anulados o no usados en esta vista #}
{% block jquery %}
{% endblock jquery %}

{% block scripts %}
{% endblock scripts %}

{% block scriptTooltip %}
{% endblock scriptTooltip %}

{% block navbar %}{% endblock %}    {# con esto anulo en esta vista a navbar #}