{% extends "main.twig" %}
{% block title %}
Dashboard |
{{ parent() }}
{% endblock %}
{# bloque de estilos #}
{% block styles %}
<style>
  .vista{
    width: 100vw;
    margin-top: var(--altura_navbar);
  }
  .dashboard_container{
    color: var(--text_glass_color_dark);
  }
  .row{
    width: 100%;
  }
</style>
{% endblock styles %}
{# bloque del contenido de cada vista #}
{% block contenido %}
<div class="vista">
  <div class="dashboard_container">
    <h1>Mi panel</h1>
    <div class="row">
      <div class="col-md-3 cristal_background">
        <a href="/nuevo-cliente"><h2>nuevo cliente</h2></a>
      </div>
      <div class="col-md-3">
        <h2>nuevo cliente</h2>
      </div>
      <div class="col-md-3">
        <h2>nuevo cliente</h2>
      </div>
      <div class="col-md-3">
        <h2>nuevo cliente</h2>
      </div>
      <div class="col-md-3">
        <h2>nuevo cliente</h2>
      </div>
      <div class="col-md-3">
        <h2>nuevo cliente</h2>
      </div>
    </div>
  </div>
</div>
{% endblock contenido %}
