{% extends "main.twig" %}
{% block title %}
Nuevo Cliente |
{{ parent() }}
{% endblock %}
{# bloque de estilos #}
{% block styles %}
<style>
    .vista{
        width: 100%;
        margin-top: var(--altura_navbar);
    }
    .row{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .clientes_container{
        color: var(--text_glass_color_dark);
    }
    .buscar_cliente,
    .nuevo_cliente,
    .listar_clientes{
        margin: 10px 0;
    }
    .nuevoCliente_form,
    .nombres_container,
    .apellidos_container,
    #telefonos_container,
    #correos_container{
        display: flex;
        flex-direction: column;
    }
</style>
{% endblock styles %}

{# bloque del contenido de cada vista #}
{% block contenido %}
<div class="vista">
    <div class="clientes_container">
        <h1>Clientes</h1>
        <hr>
        <section class="row buscar_cliente cristal_background">
            <h2>Buscar Cliente</h2>
            <form class="d-flex">
                <input class=" me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-sm btn-outline-success" type="submit">Search</button>
            </form>
        </section>
        
        <section class="row cliente">
            <div class="col-md-6 nuevo_cliente cristal_background">
                <h2>Nuevo Cliente</h2>
                <div>
                    <form action="cliente/add" method="POST" class="nuevoCliente_form">
                        <input type="text" name="cedula" placeholder="Número de cédula" required pattern="[0-9]{10}">

                        <div class="row">
                            <div class="col-md-6 nombres_container">
                                <input type="text" name="nombres" placeholder="Nombres" required pattern="[A-Za-z- ]{3,}">
                            </div>
                            <div class="col-md-6 apellidos_container">
                                <input type="text" name="apellidos" placeholder="Apellidos" required pattern="[A-Za-z- ]{3,}">
                            </div>
                        </div>

                        <input type="text" name="direccion" placeholder="Direccion" required>

                        <div class="row">
                            <div class="col-md-6 ">
                                <div id="telefonos_container">
                                    <input type="tel" name="telefono[]" pattern="[0-9]{10}" placeholder="Número de telefono" >
                                </div>
                                <input type="button" value="Nuevo telefono" class="btn btn-outline-info" id="btnNuevoTelefono">
                            </div>
                            <div class="col-md-6 ">
                                <div id="correos_container">
                                    <input type="email" name="correo[]" placeholder="Correo: email@example.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                                </div>
                                <input type="button" value="Nuevo correo" class="btn btn-outline-info" id="btnNuevoCorreo">
                            </div>
                        </div>
        
                        <textarea name="otros" id="" rows="3" class="" placeholder="Mas detalles del cliente"></textarea>
                        <input type="submit" value="Guardar" class="btn btn-primary">
                    </form>
                </div>                
            </div>
            <div class="col-md-6 listar_clientes cristal_background">
                <h2>Mi lista de clientes</h2>
                <div class="table-responsive">
                    
                </div>
            </div>
        </section>
    </div>
</div>
{% autoescape "html" %}
    {{ responseMessage|raw }}
{% endautoescape %}

{% endblock contenido %}

{% block scripts %}
<script>
    btnNuevoTelefono.onclick = ()=>{
        const input = document.createElement("input");
        input.type="tel"
        input.placeholder="Número de telefono"
        input.name="telefono[]"
        input.pattern="[0-9]{10}"
        telefonos_container.appendChild(input)
    }
    btnNuevoCorreo.onclick = ()=>{
        const input = document.createElement("input");
        input.type="email"
        input.placeholder="Correo: email@example.com"
        input.name="correo[]"
        input.pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        correos_container.appendChild(input)
    }
</script>
{% endblock scripts %}

{% block scriptTooltip %}
{% endblock scriptTooltip %}
