{% extends "main.twig" %}
{% block title %}
Cambiar contraseña master del sistema |
{{ parent() }}
{% endblock title %}

{# bloque de estilos #}
{% block styles %}
<style>
    .vista{
        color: var(--text_color_light);
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .passMasterContainer{
        display: block;
        text-align: center;

        width: 500px;
        padding: 10px;
        border-radius: 10px;
        background-color: var(--card_glass_color_dark);
        -webkit-backdrop-filter: blur(var(--blur_cristal_mode));
        backdrop-filter: blur(var(--blur_cristal_mode));
    }
    a{
        text-decoration: none;
        color: var(--text_color_light);
    }
</style>
{% endblock styles %}

{% block contenido %}
<div class="container vista">
    <div class="passMasterContainer">
        <h1>Modifica la contraseña master</h1>
        <h2><a href="/dashboard">Ir a Dashboard</a></h2>
        <form action="/password-master" method="POST">
            <input type="password" name="passMaster" id="passMaster" required placeholder="Ingresa la contraseña" class="form-control">
            <input type="submit" value="Guardar" class="btn btn-primary form-control">
        </form>
    </div>
</div>
{% autoescape "html" %}
  {{ responseMessage|raw }}
{% endautoescape %}

{% endblock contenido %}

{% block scripts %}
{{ closeAlert|raw }}
{% endblock scripts %}