{% extends "main.twig" %}
{% block title %}
Cambiar contraseña master del sistema |
{{ parent() }}
{% endblock title %}

{# bloque de estilos #}
{% block styles %}
<style>
    .vista{
        color: var(--text_color_light);
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .passMasterContainer{
        display: block;
        text-align: center;
    }
    a{
        text-decoration: none;
        color: var(--text_color_light);
    }
</style>
{% endblock styles %}

{% block contenido %}
<div class="container vista">
    <div class="passMasterContainer">
        <h1>Modifica la contraseña master</h1>
        <h2><a href="/Dashboard">Ir a Dashboard</a></h2>
        <form action="/password-master" method="POST">
            <input type="password" name="passMaster" id="passMaster" required placeholder="Ingresa la xontraseña">
            <input type="submit" value="Guardar">
        </form>

        <h5>{{responseMessage}}</h5>
    </div>
</div>
{% endblock contenido %}