:root{
  /* home */

  /* colores */
  --gradiente_home_top: rgba(55,59,68,.4);
  --background_home: rgba(67, 135, 244, 0.6);
  --card_glass_color: rgba(255, 255, 255, 0.3);
  --card_glass_color_dark: rgba(0, 0, 0, 0.1);
  --card_glass_color_light: rgba(255, 255, 255, 0.1);

  --sidebar_background: rgba(230, 230, 230, 0.3);
  --sidebar_selected_item: #0078d7;
  --sidebar_item_hover: rgba(0, 0, 0, 0.1);
  --sidebar_selected_item_text: #ffffff;

  --text_glass_color_dark: #BBBAE4;
  --text_color_light: white;

  --button_hover: rgba(234, 234, 234, 0.5);
  

  /* assets */
  --background_img_login: url("/public/uploads/home-background.jpg");
  --blur_cristal_mode: 10px;
  /* END home */

  --background_app: url("/public/uploads/background-app.jpg");
  --altura_navbar: 55px;

}

*{
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-image: var(--background_app);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.navbar-nav{
  flex-direction: row;
}
.navbar-nav .nav-link{
  padding-right: 10px;
}

/* efecto cristal */
.cristal_background{
  padding: 10px;
  border-radius: 10px;
  background-color: var(--card_glass_color_dark);
  -webkit-backdrop-filter: blur(var(--blur_cristal_mode));
  backdrop-filter: blur(var(--blur_cristal_mode));
}
.cristal_background_light{
  padding: 10px;
  border-radius: 10px;
  background-color: var(--card_glass_color_light);
  -webkit-backdrop-filter: blur(var(--blur_cristal_mode));
  backdrop-filter: blur(var(--blur_cristal_mode));
}
/* efecto trnasparente para los input */
input, textarea{
  margin-top: 10px;
  border: none;
  border-bottom: 1px solid var(--text_glass_color_dark);
  outline: none;
  background-color: transparent;
  color: var(--text_glass_color_dark);
  /* text-align: left; */
  padding: 5px 10px;
}
::-webkit-input-placeholder {
  /* Edge */
  color: var(--text_glass_color_dark);
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--text_glass_color_dark);
}
::placeholder {
  color: var(--text_glass_color_dark);
}
/* hace la animacion en el input */
[placeholder]:focus::-webkit-input-placeholder {
transition: text-indent 0.2s 0.2s ease;
text-indent: -100%;
opacity: 1;
}

.alert{
  z-index: 1;
  position: fixed;
  bottom: 5px;
  right: 5px;
}